<h3>Artists</h3>
<ul>
    <% @artists.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %><br>
        <%= artist.song_count %><%= pluralize(artist.song_count, "song") %></li>
    <% end %>

</ul>
