<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artist Show Page</title>
  </head>
  <body>
    <h1><% @artist.name %></h1>

  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= link_to "#{song.title}", song_path(song) %></li> 
    <% end %>
  </ul>


  </body>
</html>
