<!DOCTYPE html>
<html>
    <head>
        <title><%= @song.title %></title>
    </head>
    <body>
    <h1><%= @song.title %></h1>
    <h2>Artist: <%= link_to @song.artist_name, artist_path(@song.artist) %></h2>
    </body>
</html>